/* paleta de colores */

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --border-color: #000000;
    --glitch-cyan: #0ff;
    --glitch-magenta: #f0f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

body {
    background-color: #0e0e0e; 
    margin: 0;
    position: relative;
}

/* fondo img tv */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background-image: url(media/image/fondo.svg) ;
    opacity: 0.10; 
    z-index: -1;
    pointer-events: none;
    animation: grain-flicker 0.2s steps(2) infinite;
}

@keyframes grain-flicker {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-1%, -1%); }
    100% { transform: translate(1%, 1%); }
}

main, 
.main-content, 
.center-col,
.center-side {
    min-width: 0; 
    max-width: 100%;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--bg-color);
    border: 4px solid var(--border-color);
    box-shadow: 10px 10px 0px var(--glitch-cyan);
}

/* Cajas */
.manga-box {
    border: 3px solid var(--border-color);
    padding: 10px;
    background-color: var(--bg-color);
    margin-bottom: 10px;
}

/* Header */
header.manga-box {
    text-align: center;
    border-bottom: 5px solid var(--border-color);
    margin-bottom: 0;
}

.marquee-bar {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 5px;
    font-weight: bold;
    border-top: 2px solid var(--border-color);
    margin-top: 10px;
}

/* Layout */
.layout-grid {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
}

.sidebar ul {
    list-style: none;
}

.sidebar a {
    display: block;
    padding: 5px;
    color: var(--text-color);
    text-decoration: none;
    border: 1px solid transparent;
}

/* efecto glitch al pasar el cursor */
.sidebar a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    text-shadow: 2px 0 var(--glitch-cyan), -2px 0 var(--glitch-magenta);
    border: 1px dashed var(--border-color);
}

h2 {
    font-size: 1.2rem;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-bottom: 8px;
    line-height: 1.1;
}

.status-layout {
    display: flex;
    gap: 15px; 
    align-items: flex-start;
    margin-top: 10px;
}

/* marco img avatar*/
.avatar-box {
    flex-shrink: 0;
    width: 100px;
    height: 150px;
    border: 3px solid var(--border-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px 0px var(--border-color);
    overflow: hidden;
}

/* filtro avatar*/
.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(90%);
    transition: filter 0.3s ease-in-out;
}

.avatar-img:hover {
    filter: none;
}

/* caja de texto intro txt */
.status-text {
    flex-grow: 1;
    max-height: 150px;
    overflow-y: auto; 
    padding-right: 10px;
    font-size: 0.85rem;
    line-height: 1.4;
}

.scrollbar-retro::-webkit-scrollbar {
    width: 16px; 
}

/* fondo barra despazamiento */
.scrollbar-retro::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-left: 2px solid var(--border-color);
    background-image: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 2px,
        #ccc 2px,
        #ccc 4px
    );
}

/* cosito del scroll */
.scrollbar-retro::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border: 2px solid var(--bg-color);
}

/* efecto cosito del scroll */
.scrollbar-retro::-webkit-scrollbar-thumb:hover {
    background-color: var(--glitch-cyan);
    border: 2px solid var(--glitch-magenta);
}

/* banner */
.banner-container {
    width: 100%;
    height: 180px;
    overflow: hidden;
    background-color: var(--bg-color);
    border-bottom: 3px solid var(--border-color);
    transition: filter 0.3s ease;
}

/* efecto invertido*/
.banner-container:hover {
    filter: grayscale(100%) contrast(200%) invert(100%);
}

/* caja cotenidos */
.banner-content-box {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

/* texto header */
.banner-title {
    flex: 1; 
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color); 
    margin: 0; 
    padding-left: 20px;
}

/* Contenedor img header*/
.banner-img-box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    overflow: hidden;
}

.banner-img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
    filter: grayscale(100%) contrast(150%);
    transition: transform 0.3s ease;
}

/* efecto zoom */
.banner-container:hover .banner-img {
    transform: scale(1.05);
}

/* caja separador img */
.image-separator {
    padding: 0;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
}

.separator-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: grayscale(100%) contrast(150%);
    opacity: 0.8;
}

.current-status {
    position: relative;
    box-shadow: none; 
    overflow: visible;
}

.status-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 120px;
}

/* img estilo stiker*/
.status-sticker {
    position: absolute;
    left: auto; 
    right: -60px;
    top: 10px; 
    width: 160px;
    z-index: 100; 
    transform: rotate(12deg); 
    /* Efecto "Pegatina" */
    background-color: #fff;
    border: 4px solid #fff;
    outline: 2px solid #000;
    border-radius: 5px;
    filter: grayscale(100%) contrast(150%);
    transition: transform 0.2s ease, filter 0.2s ease;
}

/* efecto aumento */
.status-sticker:hover {
    filter: none; 
    transform: rotate(12deg) scale(1.1); 
}

.status-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-left: 0; 
    padding-right: 0; 
    text-align: left; 
}

.status-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.85rem;
    border-bottom: 1px dashed var(--border-color);
    padding-bottom: 5px;
    width: 100%; 
}

/* etiquetas (ESTADO, ESCUCHANDO , VIENDO) */
.status-label {
    font-weight: bold;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 2px 8px;
    margin-right: 10px;
    letter-spacing: 1px;
    white-space: nowrap;
}

.status-value {
    flex-grow: 1;
    text-align: left;
}

.status-marquee {
    flex-grow: 1;
    font-style: italic;
    font-weight: bold;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 2px,
        #e0e0e0 2px,
        #e0e0e0 4px
    );
    padding: 2px 0;
}

/* reproductor de musica */
#retro-play {
    background-color: var(--bg-color);
    color: var(--text-color); 
    border: 2px solid var(--text-color); 
    font-family: "Courier New", Courier, monospace;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
    padding: 2px 4px;
    transition: all 0.2s ease;
}

#retro-play:hover {
    background-color: var(--text-color);
    color: var(--glitch-cyan);
    box-shadow: 2px 2px 0px var(--glitch-magenta);
}

#retro-play:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

/* separador final "end of life" */

.eol-banner {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    border-top: 2px dashed var(--text-color);
    border-bottom: 2px dashed var(--text-color);
    background: repeating-linear-gradient(
        45deg,
        var(--bg-color),
        var(--bg-color) 2px,
        #f0f0f0 2px,
        #f0f0f0 4px
    );
}

.eol-composition {
    position: relative;
    display: inline-block; 
    width: 100%; 
}

.eol-img {
    width: 100%;
    max-height: 55px; 
    object-fit: cover;
    display: block;
    image-rendering: pixelated;
    filter: grayscale(100%) contrast(150%);
    border: 2px solid var(--text-color);
    box-shadow: 4px 4px 0px rgba(0,0,0,1);
}

.eol-text-badge {
    position: absolute;
    bottom: -15px;
    right: -15px;
    
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    padding: 4px 10px;
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--text-color);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* columna izquiera */

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-self: flex-start; 
}

.directory-box {
    height: fit-content;
    margin-bottom: 0;
}

/* imagen colunma izquierda */
.side-art-container {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none; 
    padding: 10px 0;
    overflow: hidden;
}

.side-art-img {
    width: 100%;
    height: auto;
    max-width: 180px;
    filter: grayscale(100%) contrast(150%);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

/* snake */

.arcade-module {
    margin-top: -10px;
    text-align: auto;
}

.canvas-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#snakeGame {
    background-color: var(--bg-color);
    border-top: 3px solid #000;
    border-left: 3px solid #000;
    border-bottom: 3px solid #ccc;
    border-right: 3px solid #ccc;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
}

.arcade-controls {
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: bold;
}

.score-display {
    margin: 0 0 5px 0;
    color: var(--text-color);
}

.retro-start-msg {
    margin: 0;
    font-size: 0.7rem;
    color: var(--glitch-magenta);
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

/* columna derecha */
.system-log {
    height: 570px; 
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.log-entries {
    flex-grow: 1;   
    overflow-y: auto;
    min-height: 0;  
    margin-top: -20px;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.log-entries > :first-child {
    margin-top: 0 !important;
}
.right-side {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    top: 10px;
    align-self: flex-start; 
}

.log-day-header {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
    background-color: #eee; /* Gris muy claro para separar días */
    margin: 15px 0 10px 0;
    padding: 2px;
    border: 1px dashed var(--border-color);
}

.log-item {
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 2px solid var(--border-color);
    font-size: 0.8rem;
    transition: all 0.2s ease;
}

.log-item:hover {
    border-left: 2px solid var(--glitch-magenta);
    background-color: var(--text-color);
    color: var(--bg-color);
    transform: translateX(5px);
}

.log-date {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 3px;
}

.log-item:hover .log-date {
    color: var(--glitch-cyan);
}

.log-msg {
    line-height: 1.2;
}

.log-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--border-color);
    padding-top: 12px;
    font-size: 0.7rem;
    font-weight: bold;
}

.blink-dot {
    width: 8px;
    height: 8px;
    background-color: #0f0; /* Verde sistema */
    box-shadow: 0 0 5px #0f0;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* caja de comentarios*/

.shoutbox-module {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 268px; 
}

.shoutbox-feed {
    flex-grow: 1;
    overflow-y: auto;
    border: 2px inset #fff;
    background-color: var(--bg-color);
    padding: 5px;
    margin-bottom: 10px;
    font-size: 0.75rem;
    font-family: monospace;
}

.shout {
    margin-bottom: 6px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 4px;
    word-wrap: break-word; 
}

.shout-time {
    color: #696969;
    font-size: 0.65rem;
}

.shout-name {
    color: var(--text-color);
    background-color: #eee;
    padding: 0 2px;
    margin-right: 3px;
}

.shout-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-row {
    display: flex;
    gap: 5px;
}

.shout-form input {
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    color: var(--text-color);
    font-family: monospace;
    font-size: 0.7rem;
    padding: 4px;
    outline: none;
}

.shout-form input:focus {
    background-color: #e6ffff;
}

#shoutUser {
    width: 40%;
    text-transform: uppercase;
}

#shoutText {
    width: 100%;
    box-sizing: border-box;
}

.retro-btn {
    width: 60%;
    background-color: #dfdfdf;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.7rem;
}

.retro-btn:active {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    background-color: #ccc;
}

/* separador songs */

.fav-songs-separator {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden; 
}

.cover-marquee-container {
    width: 100%;
    overflow: hidden;
    border-top: 2px dashed var(--border-color);
    border-bottom: 2px dashed var(--border-color);
    margin-bottom: 5px;
    background-color: var(--text-color); 
}

.cover-track {
    display: flex;
    width: max-content; 
}

.album-cover {
    width: 100px; 
    height: 100px;
    object-fit: cover;
    border-right: 2px solid var(--border-color);
    filter: grayscale(100%) contrast(100%); 
    transition: filter 0.3s ease, transform 0.3s ease;
    cursor: help;
}

.track-left { animation: scroll-left 15s linear infinite; }
.track-right { animation: scroll-right 15s linear infinite; }

.cover-marquee-container:hover .track-left,
.cover-marquee-container:hover .track-right {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } 
}

@keyframes scroll-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

#retro-tooltip {
    position: absolute;
    background-color: #ffffcc; 
    color: #000;
    border: 1px solid #000;
    padding: 3px 6px;
    font-family: "MS Sans Serif", "Tahoma", sans-serif;
    font-size: 11px;
    pointer-events: none; 
    display: none;
    z-index: 9999;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.8);
    white-space: nowrap; 
}

/* footer */

.main-footer {
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 15px 10px;
    background-color: var(--bg-color);
    border-top: 3px solid var(--text-color);
}

.footer-left, .footer-right {
    flex: 1; 
}

.footer-center {
    flex: 2;
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer-center p {
    font-family: monospace;
    font-size: 0.7rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.footer-center b {
    color: var(--text-color);
    background-color: #eee;
    padding: 0 4px;
}

.footer-mini-img {
    width: 50px;
    height: auto;
    filter: grayscale(100%) contrast(100%);
}

.version-tag {
    font-family: monospace;
    font-size: 0.65rem;
    font-weight: bold;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 2px 6px;
}